<app-header></app-header>
  <div class="container mt-5 pt-5 ">
    <h1 style="font-size: 70px" class="text-center mb-5">About us</h1>
    <div class="row d-flex flex-wrap">
      <div class="col-md-6 col-sm-12 flex-grow-1 order-1">
        <img src="https://media.istockphoto.com/id/1088402018/photo/focus-on-history.jpg?s=612x612&w=0&k=20&c=VeIYDga9xyaRyIcquneZciob4OTIVS0SVj0tufwAF9g=" alt="History" style="max-width: 100%;">
      </div>
      <div class="col-md-6 col-sm-12 order-2">
        <h1 class="fs-1 mb-5 mt-4">Company History</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
        <p>Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.</p>
      </div>
    </div>
    <div class="row mt-5 d-flex">
      <div class="col-md-6 col-sm-12 order-1 mb-5">
        <h1 class="fs-1 mb-5 mt-4">Missiom & Vision</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
        <p>Fugit eaque illum blanditiis, quo exercitationem maiores autem laudantium unde excepturi dolores quasi eos vero harum ipsa quam laborum illo aut facere voluptates aliquam adipisci sapiente beatae ullam. Tempora culpa iusto illum accusantium cum hic quisquam dolor placeat officiis eligendi.</p>
      </div>
      <div class="col-md-6 col-sm-12 order-2 mb-5">
        <img src="https://media.istockphoto.com/id/1296843077/photo/company-key-success-concept-hand-putting-wooden-cubes-blocks-which-print-screen-vision.jpg?s=612x612&w=0&k=20&c=snFJpt-3v8ra0-q5Q-RDGcYEW_RXedrq0ElDTP6cC6Q=" alt="Image" class="w-100">
      </div>
    </div>
  </div>
<div class="our-team text-center">
  <div class="container d-flex">
    <div class="row mb-5">
      <div class="col-12 text-center mt-5 mb-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h1 style="font-size: 70px;">Our Team</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sint sed, fugit distinctio ad eius itaque deserunt doloribus harum excepturi laudantium sit officiis et eaque blanditiis. Dolore natus excepturi recusandae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img src="assets/face-1.jpeg" alt="team" class="img-fluid rounded-circle mb-5 w-50 h-50">
        <h2>Jane Cooper</h2>
        <span class="d-block mb-3 text-uppercase">Founder & CEO</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img src="assets/face-2.jpeg" alt="team" class="img-fluid rounded-circle mb-5 w-50 h-50">
        <h2>Mark Zuck</h2>
        <span class="d-block mb-3 text-uppercase">Founder & CFO</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
      </div>
      <div class="col-lg-4 text-center mb-5">
        <img src="assets/face-3.avif" alt="team" class="img-fluid rounded-circle mb-5 w-50 h-50">
        <h2>Martin Modred</h2>
        <span class="d-block mb-3 text-uppercase">Editor</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
