/* CSS styles for the header component */
.header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman",sans-serif;
}

.header-logo img {
  height: 60px;
  width: 60px;
}

.header-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-links li:not(:last-child) {
  margin-right: 15px;
}

.header-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-links a:hover {
  color: #481088;
}

.header-toggle {
  display: none;
  cursor: pointer;
}


.signup-btn {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 40px;
  border: 1.5px solid #000000;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1px;
}

.signup-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    position: fixed;
  }

  .header-links {
    margin-left: auto;
    max-height: 0; /* Ekleyin */
    overflow: hidden; /* Ekleyin */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s, transform 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
  }

  .header-toggle {
    display: block;
    align-items: end;
  }
  .header-links.open {

    position: absolute;
    max-height: 400px;
    top: 70px;
    left:0;
    right: 0;
    background: #f2f2f2;
    visibility: visible;
    opacity: 1;
    padding: 20px;

    transform: translateY(0);
    transition-delay: 0s, 0s,0s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    0 -2px 4px rgba(0, 0, 0, 0);
  }
  .header-links.open ul {
    flex-direction: column;
    align-items: center;
  }

  .header-links.open li {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;  }

  .header-links.open a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .header-links.open a:hover {
    color: #481088;
  }
  .signup-btn {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
}
