<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<mat-toolbar class="header fixed-top" color="primary">
  <div class="header-logo">
    <img src="./assets/wixlogo.jpg" alt="Logo">
  </div>
  <div class="header-links mx-auto" [class.open]="isMenuOpen">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li (click)="toggleDropdown()">
        <a class="dropdown-toggle">
        Categories
        </a>
        <ul class="dropdown-menu  justify-content-center" style="flex-direction: column; width: auto" [hidden]="!isDropdownOpen">
          <li *ngFor="let category of categories"><a href="/category/{{category.id}}" class="dropdown-item justify-content-center">{{category.name}}</a></li>
          <!-- Add more category list items here -->
        </ul>
      </li>
      <li><a href="/about-us">About</a> </li>
      <li><a href="/contact-us">Contact</a></li>
    </ul>
  </div>
  <button mat-icon-button class="header-toggle" [ngStyle]="{'color':'black'}" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


