<app-header></app-header>

<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title class="signup-title">Signup</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username" [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [(ngModel)]="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" [(ngModel)]="password">
      </mat-form-field>

      <!-- Diğer giriş alanları ve form elemanlarını buraya ekleyin -->
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="signup()">Signup</button>
    </mat-card-actions>
  </mat-card>
</div>
