<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header></app-header>
<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col-md-9">
        <div class="row " *ngFor="let blog of blogs">
          <div class="col-md-6 col-sm-12">
              <img src="{{blog.image}}" alt="Blog Image" style="max-height: 250px" class="w-100 mt-2 mb-2" (click)="navigateToBlog(blog._id)">
          </div>
          <div class="col-md-6 col-sm-12  ">
            <div class="author-date ">
              <p class="author">{{blog.author}}</p>
              <p class="date">{{blog.formattedDate}}</p>
            </div>
            <h4 class="title" (click)="navigateToBlog(blog._id)">{{blog.title}}</h4>
            <p class="excerpt">{{blog.truncatedContent}}</p>
            <div class="tags">
              <span class="tag" *ngFor="let tag of blog.tags">{{ tag }}</span>
            </div>
          </div>
      </div>
      <div class="pagination">
        <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-page">{{ currentPage }}</span>
        <button class="pagination-button" (click)="nextPage()">Next</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <h3 class="border-bottom border-black border-2">LATEST</h3>
        <div class="border-bottom mt-2" *ngFor="let latesBlog of latestBlogs">
          <div class="author-date d-inline-flex ">
            <p class="author">{{latesBlog.author}}</p>
            <p class="date mx-1">{{latesBlog.formattedDate}}</p>
          </div>
          <h2>{{latesBlog.title}}</h2>
          <button class="bg-white border-0" (click)="navigateToBlog(latesBlog._id)">
            <mat-icon>arrow_outward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>
<app-footer></app-footer>
