.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.signin-card {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Add position relative to the card */
}

.signin-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.forgot-password-link {
  position: absolute; /* Position the link absolutely */
  bottom: 25px; /* Adjust the top positioning as needed */
  right: 20px; /* Adjust the right positioning as needed */
  color: #666;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #333;
  text-decoration: underline;
}
