<div class="container">
  <div class="row">
    <section class="welcome">
      <div class="container">
        <h1>Welcome to <span class="blog-name">Küllük</span></h1>
        <p class="tagline">Discover a World of Cigarettes Inspiration</p>
        <a href="#recent-blog" class="btn">Start Exploring</a>
      </div>
    </section>
    <section id="recent-blog" class="recent-blog">
      <div class="container">
        <h3 >Recent Blog Posts</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="recent-blogs">
            <div class="blog-container">
              <div class="blog-details">
                <img src="./assets/blogphoto2.jpeg" alt="Blog Image">
                <div class="author-date">
                  <p class="author">Author Name</p>
                  <p class="date">June 1, 2023</p>
                </div>
                <h4 class="title">Blog Title</h4>
                <p class="excerpt">This is a short excerpt of the blog post...</p>
                <div class="tags">
                  <div class="tag">Tag 1</div>
                  <div class="tag">Tag 2</div>
                  <div class="tag">Tag 3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row recent-blogs-right">
            <div class="col-md-6">
              <div class="blog-container">
                <div class="blog-details">
                  <img src="./assets/blogphoto1.jpeg" alt="Blog Image" class="right-image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-details">
                <div class="author-date">
                  <p class="author">Author Name</p>
                  <p class="date">June 2, 2023</p>
                </div>
                <h4 class="title">Blog Title</h4>
                <p class="excerpt">This is a short excerpt of the blog post fnjkndj ngf  nj njfgn kfsng kjnfg jksfn kjnfgjk nfsjkg njkfgn fjkgn jfskgn jkfsgn jfsgn kjgfns jknfg jfgs njfksg njfkgnjk sfgjk njgfn kjfgn ksfgfgjs ndjfnvjkdsn jn jfngj nfsjk njfk nljfsn kfng jfgn jkfsngjk nfgs nfgsjk nfjkgn fgsjk nsjflg njfg nsfjknjkfsg  ...</p>
                <div class="tags">
                  <div class="tag">Tag 1</div>
                  <div class="tag">Tag 2</div>
                  <div class="tag">Tag 3</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-container">
                <div class="blog-details">
                  <img src="./assets/blogphoto4.jpeg" alt="Blog Image" class="right-image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-details">
                <div class="author-date">
                  <p class="author">Author Name</p>
                  <p class="date">June 3, 2023</p>
                </div>
                <h4 class="title">Blog Title</h4>
                <p class="excerpt">This is a short excerpt of the blog post...</p>
                <div class="tags">
                  <div class="tag">Tag 1</div>
                  <div class="tag">Tag 2</div>
                  <div class="tag">Tag 3</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-container">
                <div class="blog-details">
                  <img src="./assets/blogphoto3.png" alt="Blog Image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-details">
                <div class="author-date">
                  <p class="author">Author Name</p>
                  <p class="date">June 4, 2023</p>
                </div>
                <h4 class="title">Blog Title</h4>
                <p class="excerpt">This is a short excerpt of the blog post...</p>
                <div class="tags">
                  <div class="tag">Tag 1</div>
                  <div class="tag">Tag 2</div>
                  <div class="tag">Tag 3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
