<div class="container">
  <div class="row">
    <section class="welcome">
      <div class="container">
        <h1>Welcome to <span class="blog-name">Küllük</span></h1>
        <p class="tagline">Discover a World of Cigarettes Inspiration</p>
        <a href="#recent-blog" class="btn">Start Exploring</a>
      </div>
    </section>
    <section id="recent-blog" class="recent-blog">
      <div class="container">
        <h3 >Recent Blog Posts</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="recent-blogs">
            <div class="blog-container">
              <div class="blog-details" *ngFor="let blog of leftBlogRows">
                <img src="{{blog.image}}" alt="Blog Image">
                <div class="author-date">
                  <p class="author">{{blog.author}}</p>
                  <p class="date">{{blog.formattedDate}}</p>
                </div>
                <h4 class="title">{{blog.title}}</h4>
                <p class="excerpt">{{blog.content}}</p>
                <div class="tags">
                  <span class="tag" *ngFor="let tag of blog.tags">{{ tag }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row recent-blogs-right" *ngFor="let rightblogs of rightBlogRows">
            <div class="col-md-6">
              <div class="blog-container">
                <div class="blog-details">
                  <img src="{{rightblogs.image}}" alt="Blog Image" class="right-image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="blog-details">
                <div class="author-date">
                  <p class="author">{{rightblogs.author}}</p>
                  <p class="date">{{rightblogs.formattedDate}}</p>
                </div>
                <h4 class="title">{{rightblogs.title}}</h4>
                <p class="excerpt">{{rightblogs.content}}</p>
                <div class="tags">
                  <span class="tag" *ngFor="let tag of rightblogs.tags">{{ tag }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
