* {
  font-family: "Times New Roman", sans-serif;
}
.welcome {
  margin-top : 70px;
  width: 100%;
}

.recent-blogs {
  margin-bottom: 30px;
  margin-top: 40px;
}
.recent-blogs-right{
  margin-bottom: 30px;
  margin-top: 40px;
}


h1 {
  color: papayawhip;
}
.blog-name {
  font-size: 40px;
  font-weight: bold;
  color: papayawhip;
}

.tagline {
  font-size: 24px;
  color: papayawhip;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.btn:hover {
  background-color: #555;
}


h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;

}

.blog-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.author-date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.blog-details h4.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.blog-details p.excerpt {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  max-height: calc(1.2em * 3); /* 3 satır için örnek bir değer */
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 3 satır için örnek bir değer */
  -webkit-box-orient: vertical;
}



.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.tag {
  background-color: transparent;
  color: #888;
  border: 1px solid #888;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
}

.author {
  display: inline-block;
  font-size: 14px;
  color: #888;
  margin-right: 5px;
}

.date {
  display: inline-block;
  font-size: 12px;
  color: #888;
  margin-left: 5px;
}

.author::after {
  content: " • ";
  display: inline;
  color: #888;
}

.date::before {
  content: " ";
}
.carousel-caption h3 {
  -webkit-text-stroke: 0.8px black;
  text-stroke: 1px black;
}
