
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-start">
        <h2>About Blog</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
        <a style="color: rgba(255,255,255,0.7);" href="/about-us"><p>Learn More</p></a>
      </div>
      <div class="col-md-2 col-sm-6 text-start">
        <h2>Navigation</h2>
        <ul class="list-unstyled links">
          <li class="mt-1"><a href="#"><mat-icon>chevron_right</mat-icon>Home</a></li>
          <li class="mt-1"><a href="/blogs"><mat-icon>chevron_right</mat-icon>Blogs</a></li>
          <li class="mt-1"><a href="#"><mat-icon>chevron_right</mat-icon>Categories</a></li>
          <li class="mt-1"><a href="/about-us"><mat-icon>chevron_right</mat-icon>About</a> </li>
          <li class="mt-1"><a href="/contact-us"><mat-icon>chevron_right</mat-icon>Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 text-start">
        <h2>Categories</h2>

      </div>
      <div class="col-md-4 text-start">
        <h2>Contacts</h2>
          <p><mat-icon class="mx-2">location_on</mat-icon>Cihannüma Mah. Beşiktaş/Istanbul</p>
          <p><mat-icon class="mx-2">contacts</mat-icon><a style="text-decoration: none; color: rgba(255,255,255,0.7);" href="tel:+90 538 596 0900">+90 538 596 0900</a></p>
          <p><mat-icon class="mx-2">mail</mat-icon><a style="text-decoration: none; color: rgba(255,255,255,0.7);" href="mailto:info@example.com">info@example.com</a></p>


      </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <div class="rights-icons d-flex justify-content-between align-items-center">
          <p class="text-left">All rights reserved &copy; 2023</p>
          <ul class="social-icons d-flex list-unstyled justify-content-end">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>

